@tailwind base;
@tailwind components;
@tailwind utilities;


nav {
    background: #F5F5DC;
}
footer{
  background: #f5f5dc
}
.navegacion{
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.articulo, .fondo-login{
  background-color:#F5F5DC ;
}

.react-calendar__tile--highlight {
  background: #9f55c7;
  color: white;
  border-radius: 10%;
}

.tooltip {
  position: absolute;
  top: -35px;
  left: 0;
  z-index: 10;
}

.event-details ul {
  padding-left: 0;
  list-style: none;
}