@tailwind base;
@tailwind components;
@tailwind utilities;


nav {
    background: #F5F5DC;
}
footer{
  background: #f5f5dc
}
.navegacion{
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.articulo, .fondo-login{
  background-color:#F5F5DC ;
}
